<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN" "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Jasmine Spec Runner v2.0.0</title>

    <link rel="stylesheet" type="text/css" href="__jasmine__/jasmine.css">

    <script src="bower_components/requirejs/require.js"></script>
    <script>
      require.config({
        baseUrl: '../../app',
        paths: {
          'jquery': '../bower_components/jquery/dist/jquery',
          'jasmine': '/__jasmine__/jasmine',
          'jasmine-html': '/__jasmine__/jasmine-html',
          'boot': '/__boot__/boot'
        },
        shim: {
          'jasmine': {
            exports: 'window.jasmineRequire'
          },
          'jasmine-html': {
            deps: ['jasmine'],
            exports: 'window.jasmineRequire'
          },
          'boot': {
            deps: ['jasmine', 'jasmine-html'],
            exports: 'window.jasmineRequire'
          }
        }
      });

      var specs = [
        <% Dir.glob('**/*.js').each do |spec_file| %>
          <%= "'../spec/javascripts/app/#{spec_file}'," %>
        <% end %>
      ]

      require(['boot'], function() {
        require(specs, function(spec) {
          window.executeTests();
        });
      });
    </script>
  </head>
  <body>
  </body>
</html>
